In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from adam_wrangle import train_val_test, xy_split
from adam_model import eval_model, train_model
from wrangle import scale_data

from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

In [3]:
df = pd.read_csv('diamonds.csv', index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df = df.iloc[:,:-3]
df.head()

   carat      cut color clarity  depth  table  price
1   0.23    Ideal     E     SI2   61.5   55.0    326
2   0.21  Premium     E     SI1   59.8   61.0    326
3   0.23     Good     E     VS1   56.9   65.0    327
4   0.29  Premium     I     VS2   62.4   58.0    334
5   0.31     Good     J     SI2   63.3   58.0    335

In [5]:
train, val, test = train_val_test(df)
train.shape, val.shape, test.shape

((37758, 7), (8091, 7), (8091, 7))

In [6]:
to_scale = ['carat', 'depth', 'table']

train, val, test = scale_data(train, val, test, to_scale)
train.head()

          carat    cut color clarity     depth     table  price
19498  0.209979  Ideal     H    VVS2  0.508333  0.269231   8131
31230  0.022869  Ideal     E     VS2  0.527778  0.250000    756
22312  0.209979  Ideal     E     VS1  0.538889  0.269231  10351
279    0.126819  Ideal     F     SI2  0.544444  0.230769   2795
6647   0.122661  Ideal     I    VVS2  0.519444  0.250000   4092

In [7]:
X_train, y_train = xy_split(train)
X_val, y_val = xy_split(val)

In [8]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)
X_train.shape, X_val.shape

((37758, 23), (8091, 23))

Now we're ready for some modeling. Let's generate a baseline and evaluate it first.

Let's create a linear regression model. You've seen this one before!

[LASSO LARS](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoLars.html) is next. Let's play around with alpha.

Let's do some [polynomial regression](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html) next.

The [TweedieRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.TweedieRegressor.html) is the most flexible algorithm from the curriculum.

Let's have some fun with the [RandomForestRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) next.

Final, a little [xgboost](https://xgboost.readthedocs.io/en/stable/python/python_api.html#xgboost.XGBRegressor) to finish things off.