In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

import os
from env import get_connection

In [44]:
df = get_grades()
df.head()

   student_id  exam1  exam2 exam3  final_grade
0           1  100.0     90    95           96
1           2   98.0     93    96           95
2           3   85.0     83    87           87
3           4   83.0     80    86           85
4           5   93.0     90    96           97

In [47]:
train, val, test = train_val_test(df)
train.shape, val.shape, test.shape

((72, 5), (16, 5), (16, 5))

df = df.drop(['student_id'], axis = 1)

In [61]:
df

     exam1  exam2 exam3  final_grade
0    100.0     90    95           96
1     98.0     93    96           95
2     85.0     83    87           87
3     83.0     80    86           85
4     93.0     90    96           97
..     ...    ...   ...          ...
99    62.0     70    79           70
100   58.0     65    70           68
101   57.0     65    75           65
102   70.0     75    78           72
103    NaN     70    79           70

[104 rows x 4 columns]

Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [71]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [80]:
xy_split = df.drop(columns=['final_grade']), df['final_grade']
X_train, y_train = xy_split[0], xy_split[1]

# Assuming you have defined 'train' and 'val' previously
X_val, y_val = xy_split(val)

TypeError: 'tuple' object is not callable

In [67]:
train = pd.get_dummies(train)
val = pd.get_dummies(val)
train.shape, val.shape

((72, 14), (16, 12))

setting the baseline to selected a model and evaluating the final model on your test data.