In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from env import get_connection
import os

In [10]:
# create helper function to get the necessary connection url.
def get_db_connection(database):
    return get_connection(database)

# connect to sql zillow database
url = "zillow"

# use this query to get data    
sql_query = "SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips FROM properties_2017 WHERE propertylandusetypeid = 261"

# assign data to data frame
df = pd.read_sql(sql_query, get_connection(url))

In [11]:
# 1. Rename the columns to be more readable
df = df.rename(columns = {'bedroomcnt':'bedrooms', 'bathroomcnt':'bathrooms', 'calculatedfinishedsquarefeet':'area', 'taxvaluedollarcnt':'tax_value', 'yearbuilt':'year_built'})

In [13]:
# 2. Keep rows built in 2017
df.isna().sum()

bedrooms        11
bathrooms       11
area          8484
tax_value      493
year_built    9337
taxamount     4442
fips             0
dtype: int64

In [14]:
# Check for rows where the 'year_built' column is equal to 2017
rows_to_keep = df['year_built'] == 2017

# Create a new DataFrame containing only the rows where 'year_built' is 2017
df_filtered = df[rows_to_keep]

# Now df_filtered contains only the rows where 'year_built' is 2017
# You can use df_filtered for further analysis or save it to a new variable.

In [15]:
df.shape

(2152863, 7)