In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from env import get_connection
import os

In [4]:
# create helper function to get the necessary connection url.
def get_db_connection(database):
    return get_connection(database)

# connect to sql zillow database
url = "zillow"

# use this query to get data    
sql_query = '''SELECT *
            FROM predictions_2017
            JOIN properties_2017 on properties_2017.parcelid = predictions_2017.parcelid
            JOIN propertylandusetype on propertylandusetype.propertylandusetypeid = properties_2017.propertylandusetypeid;
            '''

# assign data to data frame
df = pd.read_sql(sql_query, get_connection(url))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 65 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77580 non-null  int64
 1   parcelid                      77580 non-null  int64
 2   logerror                      77580 non-null  float64
 3   transactiondate               77580 non-null  object
 4   id                            77580 non-null  int64
 5   parcelid                      77580 non-null  int64
 6   airconditioningtypeid         25007 non-null  float64
 7   architecturalstyletypeid      207 non-null    float64
 8   basementsqft                  50 non-null     float64
 9   bathroomcnt                   77580 non-null  float64
 10  bedroomcnt                    77580 non-null  float64
 11  buildingclasstypeid           15 non-null     float64
 12  buildingqualitytypeid         49810 non-null  float64
 13  calculatedbathnbr             76964 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77379 non-null  float64
 17  finishedsquarefeet12          73924 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77580 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76964 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  heatingorsystemtypeid         49572 non-null  float64
 29  latitude                      77580 non-null  float64
 30  longitude                     77580 non-null  float64
 31  lotsizesquarefeet             69322 non-null  float64
 32  poolcnt                       16174 non-null  float64
 33  poolsizesum                   869 non-null    float64
 34  pooltypeid10                  465 non-null    float64
 35  pooltypeid2                   1074 non-null   float64
 36  pooltypeid7                   15079 non-null  float64
 37  propertycountylandusecode     77580 non-null  object
 38  propertylandusetypeid         77580 non-null  float64
 39  propertyzoningdesc            50477 non-null  object
 40  rawcensustractandblock        77580 non-null  float64
 41  regionidcity                  76108 non-null  float64
 42  regionidcounty                77580 non-null  float64
 43  regionidneighborhood          30974 non-null  float64
 44  regionidzip                   77530 non-null  float64
 45  roomcnt                       77580 non-null  float64
 46  storytypeid                   50 non-null     float64
 47  threequarterbathnbr           10106 non-null  float64
 48  typeconstructiontypeid        223 non-null    float64
 49  unitcnt                       50704 non-null  float64
 50  yardbuildingsqft17            2393 non-null   float64
 51  yardbuildingsqft26            70 non-null     float64
 52  yearbuilt                     77310 non-null  float64
 53  numberofstories               17599 non-null  float64
 54  fireplaceflag                 172 non-null    float64
 55  structuretaxvaluedollarcnt    77465 non-null  float64
 56  taxvaluedollarcnt             77579 non-null  float64
 57  assessmentyear                77580 non-null  float64
 58  landtaxvaluedollarcnt         77578 non-null  float64
 59  taxamount                     77575 non-null  float64
 60  taxdelinquencyflag            2900 non-null   object
 61  taxdelinquencyyear            2900 non-null   float64
 62  censustractandblock           77333 non-null  float64
 63  propertylandusetypeid         77580 non-null  int64
 64  propertylandusedesc           77580 non-null  object
dtypes: float64(55), int64(5), object(5)
memory usage: 38.5+ MB

In [16]:
df.isnull()

,id,parcelid,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusetypeid,propertylandusedesc
0,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
1,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
2,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
3,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
4,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77575,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
77576,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
77577,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,True,True,False,False,False
77578,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False
77579,False,False,False,False,False,False,True,True,True,False,...,False,False,False,False,False,True,True,False,False,False

In [11]:
# 1. Rename the columns to be more readable
df = df.rename(columns = {'bedroomcnt':'bedrooms', 'bathroomcnt':'bathrooms', 'calculatedfinishedsquarefeet':'area', 'taxvaluedollarcnt':'tax_value', 'yearbuilt':'year_built'})

In [13]:
# 2. Keep rows built in 2017
df.isna().sum()

bedrooms        11
bathrooms       11
area          8484
tax_value      493
year_built    9337
taxamount     4442
fips             0
dtype: int64

In [14]:
# Check for rows where the 'year_built' column is equal to 2017
rows_to_keep = df['year_built'] == 2017

# Create a new DataFrame containing only the rows where 'year_built' is 2017
df_filtered = df[rows_to_keep]

# Now df_filtered contains only the rows where 'year_built' is 2017
# You can use df_filtered for further analysis or save it to a new variable.

In [15]:
df.shape

(2152863, 7)